<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout}"
      layout:decorator="app/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content">

    <!-- Start project Area -->
    <section class="project-area " id="project" th:each="entreprise : ${entreprises}">
        <br/>
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10" th:text="${entreprise.nom}"></h1>
                        <p th:text="${entreprise.description}"></p>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center d-flex">
                <div class="active-works-carousel mt-40 col-lg-8">
                    <div class="item">
                        <img class="img-fluid" th:src="@{${entreprise.getLogoPath()}}" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Nombre d'employees</h6>
                            <p th:text="${entreprise.nombreEmployes}"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid" th:src="@{${entreprise.getLogoPath()}}" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Forme juridique</h6>
                            <p th:text="${entreprise.formJuridique}"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid" th:src="@{${entreprise.getLogoPath()}}" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Chiffre d'affaires (CA)</h6>
                            <p th:text="${entreprise.chiffreAffaires}"></p>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid" th:src="@{${entreprise.getLogoPath()}}" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Secteur d'activites</h6>
                            <p th:text="${entreprise.secteurActivite}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End project Area -->


</div>

</body>
</html>