<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout}"
      layout:decorator="app/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content">

    <section class="default-banner">
        <div class="item-slider relative" style="background: url(../../../../images/Ville/Khouribga/fossiles.jpg);background-size: cover;background-position: center;">
            <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
            <div class="container">
                <div class="row fullscreen justify-content-center align-items-center">
                    <div class="col-md-10 col-12">
                        <div class="banner-content text-center">
                            <h1 class="text-uppercase text-white">Histoire</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="main-wrapper">

        <!-- Start list Enterprises -->
        <section class="feature-area section-gap" id="secvice">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="menu-content pb-60 col-lg-8">
                        <div class="title text-center">
                            <h1 class="mb-10">La ville des phosphates</h1>
                            <p>Khouribga et la Découverte des phosphates
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End list Entreprises -->
        <section class="about-generic-area pb-100">
            <div class="container border-top-generic" th:each="evenement : ${evenements}">
                <h3 class="about-title mb-30" th:text="${evenement.nom}"></h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="img-text">
                            <img src="img/a2.jpg" alt="" class="img-fluid float-left mr-20 mb-20">
                            <p th:text="${evenement.description}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Generic Start -->
        <div class="container mb-5">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-60 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Centres Affaires en chiffres</h1>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="counter-left col-lg-2 col-md-2">
                    <div class="single-facts">
                        <h2 class="counter">5962</h2>
                        <p>Entreprises</p>
                    </div>
                </div>
                <div class="counter-left col-lg-2 col-md-2">
                    <div class="single-facts">
                        <h2 class="counter">2394</h2>
                        <p>Industries</p>
                    </div>
                </div>
                <div class="counter-left col-lg-2 col-md-2">
                    <div class="single-facts">
                        <h2 class="counter">1439</h2>
                        <p>Téchnologies</p>
                    </div>
                </div>
                <div class="counter-left col-lg-2 col-md-2">
                    <div class="single-facts">
                        <h2 class="counter">933</h2>
                        <p>Jeunes Entreprises</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
</body>
</html>