<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/layout}"
      layout:decorator="app/layout">
<head>
  <meta charset="UTF-8">
  <title th:text="${title}"></title>
</head>
<body>
<div layout:fragment="content">
      <section class="default-banner active-blog-slider">
          <div class="item-slider relative" style="background: url(../../../../images/Ville/Khouribga/khouribga.jpg);background-size: cover;">
              <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
              <div class="container">
                  <div class="row fullscreen justify-content-center align-items-center">
                      <div class="col-md-10 col-12">
                          <div class="banner-content text-center">
                              <h4 class="text-white mb-20 text-uppercase">avec une population de plus de [[${ville.population}]] personnes, la ville de</h4>
                              <h1 class="text-uppercase text-white">[[${ville.nom}]]</h1>
                              <p class="text-white">vous offre un milieux convenable pour votre business. [[${ville.nom}]] le business leader a [[${ville.province}]].<br></p>
                              <a href="#about" class="text-uppercase header-btn">Découvrez maintenant</a>
                          </div>
                      </div>

                  </div>
              </div>
          </div>
          <div class="item-slider relative" style="background: url(../../../../images/Ville/Khouribga/OCP.jpg);background-size: cover;">
              <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
              <div class="container">
                  <div class="row fullscreen justify-content-center align-items-center">
                      <div class="col-md-10 col-12">
                          <div class="banner-content text-center">
                              <h4 class="text-white mb-20 text-uppercase">Le leader mondial de l'industrie des phosphates</h4>
                              <h1 class="text-uppercase text-white">OCP Group</h1>
                              <p class="text-white">Découvrir les projets ambitieux qui contribuent au développement constant de la ville.</p>
                              <a th:href="@{entreprise(id=1)}" class="text-uppercase header-btn">Découvrez maintenant</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="item-slider relative" style="background: url(../../../../images/Ville/Khouribga/1337-2.jpg);background-size: cover;">
              <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
              <div class="container">
                  <div class="row fullscreen justify-content-center align-items-center">
                      <div class="col-md-10 col-12">
                          <div class="banner-content text-center">
                              <h4 class="text-white mb-20 text-uppercase">L'innovation est le clé de développement</h4>
                              <h1 class="text-uppercase text-white">1337</h1>
                              <p class="text-white">Découvrir les projets ambitieux qui contribuent au développement constant de la ville.</p>
                              <a th:href="@{organisation(id=8)}" class="text-uppercase header-btn">Découvrez maintenant</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </section>

    <section class="section-gap info-area" id="about">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-40 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Une vue sur Khouribga</h1>
                        <p>En 1912, MM. COMBEIAS et LAMOLINERIE découvrirent du phosphate dans la région

                            d'El Borouj. Une prospection systématique des plateaux fut entreprise et il apparut qu'un riche gisement existait à l'Ouest d'Oued-Zem.

                            Un dahir du 20/8/1920 créa un "Office chérifien des phosphates"

                            (O.C.P.) qui commença l'exploitation à Khouribga dès mars 1921. Le premier

                            centre fut Boujniba, ou s'installèrent l'administration et les services

                            extérieurs de l'O.C.P. à proximité de la première recette (recette m actuelle). Mais en 1924 la direction de l'O.C.P. décida d'abandonner BouJniba pour installer près de la côte 791 les services extérieurs et l'administration des mines.

                            L'emplacement choisi fut appelé Khouribga du nom que les nomades lui donnaient. Le mot dérive de la racine : KH, R, B, qui signifie "être percé ". En effet, à cet endroit la surface était percée de trous naturels dus au mode d'érosion particulier des surfaces calcaires.</p>
                    </div>
                </div>
            </div>
            <div class="single-info row mt-40">
                <div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
                    <div class="info-thumb" style="background: url(../../../../images/Ville/Khouribga/description.jpg);background-size: cover;width:555px;hight:666px;">
                        <div class="container">
                            <div class="fullscreen justify-content-center align-items-center">

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 no-padding info-rigth">
                    <div class="info-content">
                        <h2 class="pb-30">Khouribga en bref</h2>
                        <p th:text="${ville.description}"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container mb-5">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Khouribga en chiffres</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="counter-left col-lg-2 col-md-2">
                <div class="single-facts">
                    <h2 class="counter">   [[${ville.population}]]</h2>
                    <p>Population</p>
                </div>
            </div>
            <div class="counter-left col-lg-2 col-md-2">
                <div class="single-facts">
                    <h2 class="counter">194</h2>
                    <p>Entreprises</p>
                </div>
            </div>
            <div class="counter-left col-lg-2 col-md-2">
                <div class="single-facts">
                    <h2 class="counter">439</h2>
                    <p>Organisations</p>
                </div>
            </div>
            <div class="counter-left col-lg-2 col-md-2">
                <div class="single-facts">
                    <h2 class="counter">12</h2>
                    <p>Ecole</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Médias</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="counter-left col-lg-6 col-md-12">
                <div class="single-facts">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/4K5BhKuQJT8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; muted" autoplay muted loop allowfullscreen></iframe>
                </div>
            </div>
            <div class="counter-left col-lg-6 col-md-12">
                <div class="single-facts">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/q8mDxHV9Oa0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container mb-5">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h1 class="mb-10">Carte et Contacts</h1>
                </div>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="counter-left col-lg-6 col-md-12">
                <div class="single-facts">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d53610.46144553472!2d-6.958493325580706!3d32.880877079186874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda427fa6cc01abd%3A0x81e42d2370814027!2sKhouribga!5e0!3m2!1sfr!2sma!4v1682567231370!5m2!1sfr!2sma" width="560" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
            <div class="counter-left col-lg-6 col-md-12">
                <div class="col-lg-4 col-md-6">
                    <div class="single-feature mb-30">
                        <div class="title d-flex flex-row pb-20">
                            <h4><a href="">Administration locale ville</a></h4>
                        </div>
                        <p>0523564854</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>